PORT=3000
JWT_SECRET=tstplotconnect-dev-secret
PAYMENT_MODE=daraja
REQUIRE_HTTPS_ADMIN=false
ADMIN_MAX_LOGIN_ATTEMPTS=5
ADMIN_LOCK_MINUTES=15

MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=tstplotconnect

DARAJA_ENV=sandbox
DARAJA_CONSUMER_KEY=
DARAJA_CONSUMER_SECRET=
DARAJA_SHORTCODE=4725040
DARAJA_TILL=8452974
DARAJA_PASSKEY=
DARAJA_CALLBACK_URL=

SMS_MODE=africastalking
OTP_DEBUG_RESPONSE=false
OTP_TTL_MINUTES=10
OTP_RESEND_SECONDS=60
OTP_MAX_ATTEMPTS=5
AFRICASTALKING_API_KEY=
AFRICASTALKING_USERNAME=techswiftrix
AFRICASTALKING_SENDER_ID=
UWAZII_API_URL=
UWAZII_API_KEY=
UWAZII_SENDER_ID=
